.menu {
	padding: 20px;
	font-size: 24px;
	background-color: #ececec;
}

.menu_open .menu__list {
	display: block;
}

.menu__item {
	cursor: pointer;
	margin-bottom: 10px
}

.menu__title {
	font-weight: 700;
}

.menu__list {
	display: none;
}
/*
test*/
