body {
	background-color: #ececec;
	-webkit-user-select: none;
}

.block {
	position: absolute;

	top: 40px;
	left: 40px;

	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 10px;
	user-select: none;
	font-size: 20px;
}

.block_outer {
	position: relative;
	width: 200px;
	height: 200px;
}

.block_red {
	background-color: red;
}

.block_blue {
	background-color: blue;
}

.block_green {
	background-color: green;
}